html, body {
	margin: 0;
}

#wrapper {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}

.display_cell {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-variant: small-caps;
}

#answer {
	height: 60%;
	padding-left: 5%;
	padding-right: 5%;
	font-size: 4em;
}

#new_idea {
	height: 30%;
	font-size: 3em;
}

#footer {
	height:10%;
	font-size: 1em;
}

.view_row {
	font-family: Impact, fantasy;
	display: table-row;
	width: 100%;
	height: auto;
}

#sources {
	display: none;
}

.no_select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}