html, body {
	display: block;
	margin: 0;
}

#content {
	display: block;
	position: absolute;
	width: 440px;
	height: 425px;
	top: 0;
	left: 50%;
	margin-left: -220px;
}

.nav_option {
	display: inline-block;
	margin: 5px;
	text-align: center;
	width: 100px;
	height: 100px;
	line-height: 100px;
	background-color: #72DCF7;
	border-radius: 20px;

	-o-box-shadow: 0px 10px 0px 0px #1873CC;
	-moz-box-shadow: 0px 10px 0px 0px #1873CC;
    -webkit-box-shadow: 0px 10px 0px 0px #1873CC;
	box-shadow: 0px 10px 0px 0px #1873CC;
}

#content h1 {
	height: 50px;
	text-align: center;
	color: black;
	line-height: 50px;
	margin: 0;
}

#content span {
	display: table-row;
	border-spacing: 10px;
	width: 100%;
	font-weight: bold;
}

a {
	text-decoration: none;
	color: black;
}

body {
	font-family: Futura, Trebuchet MS, Arial, sans-serif;
	background-color: #F5FFFF;
}

@keyframes hover-over {
    0% {left: 0px; top: 0px; opacity: 1; transform:translateY(0%);}
    50% {left: -6px; top: -6px; opacity: 1; transform:translateY(-10%);}
    100% {left: -3px; top: -3px; opacity: 1; transform:translateY(0%);}
}

@-webkit-keyframes hover-over {
    0% {left: 0px; top: 0px; opacity: 1; transform:translateY(0%);}
    50% {left: -6px; top: -6px; opacity: 1; transform:translateY(-10%);}
    100% {left: -3px; top: -3px; opacity: 1; transform:translateY(0%);}
}

@-moz-keyframes hover-over {
    0% {left: 0px; top: 0px; opacity: 1; transform:translateY(0%);}
    50% {left: -6px; top: -6px; opacity: 1; transform:translateY(-10%);}
    100% {left: -3px; top: -3px; opacity: 1; transform:translateY(0%);}
}

@-o-keyframes hover-over {
    0% {left: 0px; top: 0px; opacity: 1; transform:translateY(0%);}
    50% {left: -6px; top: -6px; opacity: 1; transform:translateY(-10%);}
    100% {left: -3px; top: -3px; opacity: 1; transform:translateY(0%);}
}

@keyframes hover-out {
    0% {left: -3px; top: -3px; opacity: 1; transform:translateY(5%);}
    50% {left: -6px; top: -6px; opacity: 1; transform:translateY(3%);}
    100% {left: 0px; top: 0px; opacity: 0.7; transform:translateY(0%);}
}

@-webkit-keyframes hover-out {
    0% {left: -3px; top: -3px; opacity: 1; transform:translateY(5%);}
    50% {left: -6px; top: -6px; opacity: 1; transform:translateY(3%);}
    100% {left: 0px; top: 0px; opacity: 0.7; transform:translateY(0%);}
}

@-moz-keyframes hover-out {
    0% {left: -3px; top: -3px; opacity: 1; transform:translateY(5%);}
    50% {left: -6px; top: -6px; opacity: 1; transform:translateY(3%);}
    100% {left: 0px; top: 0px; opacity: 0.7; transform:translateY(0%);}
}

@-o-keyframes hover-out {
    0% {left: -3px; top: -3px; opacity: 1; transform:translateY(5%);}
    50% {left: -6px; top: -6px; opacity: 1; transform:translateY(3%);}
    100% {left: 0px; top: 0px; opacity: 0.7; transform:translateY(0%);}
}

.bounce-r {
    animation-name: hover-out;
    animation-duration: 0.4;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    -webkit-animation-name: hover-out;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: hover-out;
    -moz-animation-duration: 0.4s;
    -moz-animation-timing-function: linear;
    -moz-animation-fill-mode: forwards;
    -o-animation-name: hover-out;
    -o-animation-duration: 0.4s;
    -o-animation-timing-function: linear;
    -o-animation-fill-mode: forwards;
}

.bounce-r:hover {
    animation-name: hover-over;
    animation-duration: 0.7;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    -webkit-animation-name: hover-over;
    -webkit-animation-duration: 0.7s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: hover-over;
    -moz-animation-duration: 0.7s;
    -moz-animation-timing-function: linear;
    -moz-animation-fill-mode: forwards;
    -moz-animation-iteration-count: infinite;
    -o-animation-name: hover-over;
    -o-animation-duration: 0.7s;
    -o-animation-timing-function: linear;
    -o-animation-fill-mode: forwards;
    -o-animation-iteration-count: infinite;
}

#slideshow_display {
	background-color: black;
	width: 400px;
	height: 225px;
	margin: 20px;
	border-radius: 20px;
}