extends ./layout.jade

block title
  h1 Louis Brion - Portfolio
block content
  .website_display
    a.website_link(href='./climate.html') Climate change action suggestor
    a.website_link(href='./index.html') My personal website
    a.website_link(href='http://stanford.edu/class/cs147/projects/behavior/tutornow/') TutorNow Informational Website